################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TBBMatrixMull/TBBMatrixMull/My Advisor Results - TBBMatrixMull
/TBBMatrixMull/TBBMatrixMull/Debug
/TBBMatrixMull/Debug
/TBBMatrixMull/TBBMatrixMull.VC.db
/TBBMatrixMull/TBBMatrixMull.VC.VC.opendb
/TBBMatrixMull/TBBMatrixMullParallel/Debug
/TBBMatrixMull/TBBMatrixMullParallel/My Advisor Results - TBBMatrixMullParallel
/TBBMatrixMull/Release
/TBBMatrixMull/TBBMatrixMull/Release/TBBMatri.E8C6E211.tlog
/TBBMatrixMull/TBBMatrixMull/Release
